.hero {
  &__container {
    padding: 0;
  }
  &__picture {
    background-color: blue;
    min-height: 50vh;
    width: 100%;
    max-width: 1980px;
    background-image: url(https://images.unsplash.com/photo-1602711827993-d3f54089415b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--font-heading);
    text-shadow: 2px 2px 3px black;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
